body{
  font-family:sans-serif;
}

h1{
  color: #2196F3;
}

label{
  font-weight: bold;
  display:block;
}
.col-10 input,label,select{
  width:10%;
  display:block;
}
.col-25{
  width:25%;
  display:inline;
  float:left;
}
.col-50{
  width:50%;
  display:inline;
  float:left;
  margin:5px;
}
.col-75{
  width:75%;
  display:inline;
  float:left;
  margin:5px;
}

.full-window{
  position:absolute;
  left:0px;
  top:0px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.container{
  flex: auto;
  margin: 5%;
}
.main-c {
  background-color: #2196F3;
  color: #fff;
}
.small-meta {
  font-size: 75%;
  color: #666;
}
a:hover {
  background-color: #12D37F;
  color: #fff;
}
.accent-c {
  background-color: #E91E63;
  color: #fff;
}
.surprise-c {
  background-color: #12D37F;
  color: #fff;
}
.warn-c {
  background-c color: #FF2D2D;
}
.feed-item {
  padding: 12px;
  box-shadow: 0 0 4px #666;
}
.button-xlarge {
  font-size: 125%;
	top-margin:8px;
	bottom-margin:8px;
}
