body{
	display : flex;
	font-family: sans-serif;
}
path{
	stroke:steelblue;
	fill:none;
}

circle{
	stroke:steelblue;
	fill:none;
}

.succeptible{
	stroke:green;
}

.infectious{
	stroke:red;
}

.removed{
	stroke:blue;
}

table td, th {
	padding: 11px;
	text-align: center;
	min-width: 72px;
}
.diagram {
	background : #ddd;
}
.node text {
	font: 12px sans-serif;
}
.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
.root circle {
	fill: #fff;
	stroke: #f44;
	stroke-width: 3px;
}
.action circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 3px;
}
.condition circle {
	fill: #fff;
	stroke: lightblue;
	stroke-width: 3px;
}
.selector circle {
	fill: #fff;
	stroke: orange;
	stroke-width: 3px;
}
.sequence circle {
	fill: #fff;
	stroke: lightgreen;
	stroke-width: 3px;
}
.parallel circle {
	fill: #fff;
	stroke: #9370DB;
	stroke-width: 3px;
}
.operator circle {
	fill: #666;
	stroke: lightblue;
	stroke-width: 3px;
}
.method circle {
	fill: #666;
	stroke: #BF5FFF;
	stroke-width: 3px;
}
.bh-tree {
	width: 100%;
	height: 100%;
}
.bh-tree-block {
	position: absolute;
	background-color: #cfc;
	width: 200px;
	height: 48px;
	padding: 8px;
	text-align: center;
}
.bh-ctrl {
	position: fixed;
	top: 0px;
	padding: 11px;
	right: 0px;
	height: 100%;
	width: 300px;
	background: #333;
}
.bh-ctrl h1 {
	font-size: 1.5em;
	color: #eee;
}
.bh-ctrl label {
	color: #eee;
}
.bh-tree-type {
	font-size: 0.9em;
	background-color: #c9c;
}
