.main-c{
	background-color: #2196F3;
}

.main-c a{
	color: #fff;
}

.main-c :hover{
	background-color: #8BC34A;
	color: #fff;
}

.accent-c{
	background-color: #E91E63;
	color: #fff;
}
.surprise-c{
	background-color: #12D37F;
}
.warn-c{
	background-color: #FF2D2D;
}
.sphere-header-menu{
	font-weight: bolder;
	height:48px;
	color: #fff;
}

.barrier {
	font-size:1.1em;
	padding:12px;
	margin-bottom:4px;
}
