table td th{
	padding : 11px;
}

.bh-tree{
	width : 100%;
	height : 100%;
}

.bh-tree-block{
	position: absolute;
	background-color: #cfc;
	width : 200px;
	height : 48px;
	padding : 8px;
	text-align: center;
}

.bh-ctrl{
	position : fixed;
	top : 0px;
	padding : 11px;
	right : 0px;
	height : 100%;
	width : 300px;
	background : #333;
}

.bh-ctrl h1{
	font-size: 1.5em;
	color : #eee;
}

.bh-ctrl label{
	color : #eee;
}

.bh-tree-type{
	font-size : 0.9em;
	background-color : #c9c;
}
