<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<style>
  .form-horizontal .control-label{
    text-align: left;
  }
</style>
<body>
  <div id="app" class="container-fluid">
    <h1>Model Test Lab</h1>
    <select class="form-control" v-model="modelFile" @change="loadFile()">
      <option>SEIR agents</option>
      <option>Ebola Compartmental</option>
      <option>Vectorborne</option>
    </select>
    <div class="row">
      <div id="timeplot" style="height:640px; margin:0px; padding:0px;" class="col-lg-4"></div>
      <div id="display" style="height:640px; margin:0px; padding:0px;" class="col-lg-8"></div>
    </div>
    <experiment-log :log="log" :improvement="improvement"></experiment-log>
    <div class="row">
    <div class="col-lg-6">
      <div class="btn btn-success btn-lg" @click="launchWorker()">Launch Full</div>
      <experiment-form :experiment="experiment"></experiment-form>
      <evolution-form v-if="experiment.type === 'evolution'" :evolution="evolution"></evolution-form>
      <report-form :report="report"></report-form>

      <entity-form :entity="pathogen" :entity-name="'pathogen'"></entity-form>
    </div>
    <div class="col-lg-6">
      <div class="btn btn-primary btn-lg" @click="visualize()">Visualize Run</div>
      <environment-form :environment="environment"></environment-form>
      <agents-form :agents="agentGrp" v-for="(agentGrp, grp) in agents"></agents-form>
      <patches-form v-if="patches.length > 0" :patches="patches"></patches>
    </div>
  </div>
    <div class="row">
      <components-form :comp="component" :params="typeof agents[component.agents] !== 'undefined' ? agents[component.agents].params : {}" :groups="[].concat(Object.keys(agents), patches.map((d) => {return d.name}))" v-for="component in components"></components-form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.5/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.3/d3.js"></script>
  <script src="../node_modules/plotly.js/dist/plotly-basic.min.js"></script>
  <script src="./libs/jStat.min.js"></script>
  <script src="../node_modules/three/build/three.min.js"></script>
  <script src="actions.js"></script>
  <script src="../qepikit.js"></script>
  <script src="./epi-vue-components.js"></script>
  <script>
    "use strict";
    let pathogen;
    let boundaries;
    let agents;
    let exp;
    let cfg;
    let environment;
    let random;
    let scene;
    let raycaster = new THREE.Raycaster();
    let camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 5000);
    let renderer = new THREE.WebGLRenderer({
      alpha: true
    });

    let app = new Vue({
      el: '#app',
      data: {
        modelFile: "SEIR agents",
        log: [],
        improvement: -1,
        experiment: {
          seed: 12345,
          rng: 'burtle',
          iterations: 4,
          type: 'param-sweep',
          size: 4,
          params:[{
            level: 'agents',
            group: 'people',
            name: 'contactAttempts',
            distribution:{
              name:'normal',
              params:[50, 10]
            }
          },{
            level: 'entities',
            group: 'pathogen',
            name: 'shedRate',
            distribution:{
              name:'normal',
              params:[1500, 500]
            }
          }]
        },
        patches: [],
        evolution: {
          method: "appx-grad",
          target: {
            freqs: {
              infectious: 44
            }
          }
        },
        environment: {
          step: 0.001,
          until: 1,
          type: 'continuous',
          boundaries: [500, 500],
          params: {}
        },
        report: {
          sums: ['pathogenLoad', 'contactAttempts'],
          means: ['pathogenLoad', 'contactAttempts'],
          freqs: ['immune', 'succeptible', 'exposed', 'infectious']
        },
        entities:{},
        pathogen: {
          params:{
            name: { assign:'influenza'},
            personToPerson: { assign:true},
            N50: { assign:9.45e5},
            optParam: { assign:5.81e-1},
            bestFitModel: { assign:'beta-Poisson'},
            decayRate: { assign:4.5},
            recoveryTime: { assign:6},
            shedRate: { assign:700},
            mutationTime: { assign:36}
          },
          methods:{
            'beta-Poisson': 'beta-Poisson',
            'exponential': 'exponential'
          }
        },
        agents: {
          'people': {
            name: 'people',
            count: 1000,
            boundaries: {
              left: 1,
              right: 500 - 1,
              top: 500 - 1,
              bottom: 1
            },
            params: {
              'movePerDay': {
                distribution:{
                  name:'normal',
                  params:[3000, 1000]
                }
              },
              'contactAttempts': {
                assign: 20
              },
              'newAttempt': {
                assign: 0
              },
              'madeAttempts': {
                assign: 0
              },
              'pathogenLoad': {
                assign: 0
              },
              'responseProb': {
                assign: 0
              },
              'timeInfectious': {
                assign: 0
              },
              'timeRecovered': {
                assign: 0
              },
              'infected': {
                assign: false
              },
              'illness': {
                states: {
                  params:[['immune','succeptible','exposed','infectious'],[0.3,0.69,0.005,0.005]]
                }
              }
            }
          }
        },
        components: [{
          name: 'SEIR',
          type: 'state-machine',
          agents: 'people',
          states: {
            'immune': 'immune',
            'succeptible': 'succeptible',
            'exposed': 'exposed',
            'infectious': 'infectious',
            'removed': 'removed'
          },
          conditions: {
            'exposure': {
              key: 'pathogenLoad',
              value: 0,
              check: 'gt'
            },
            'infection': {
              key: 'infected',
              value: true,
              check: 'equalTo'
            },
            'recovery': {
              key: 'timeInfectious',
              value: 5, //pathogen.recoveryTime,
              check: 'gt'
            },
            'resucceptible': {
              key: 'timeRecovered',
              value: 4, //pathogen.mutationTime,
              check: 'gt'
            }
          },
          transitions: [{
            name: 'exposure',
            from: 'succeptible',
            to: 'exposed'
          }, {
            name: 'infection',
            from: 'exposed',
            to: 'infectious'
          }, {
            name: 'recovery',
            from: 'infectious',
            to: 'removed'
          }, {
            name: 'resucceptible',
            from: 'removed',
            to: 'succeptible'
          }]
        }, {
          name: 'Movement',
          type: 'every-step',
          agents: 'people',
          action: 'moveWithin'
        }]
      },
      created: function() {
        /*window.fetch(new Request('http://localhost:3000/api/dataset/590f9ff53d5354319484d864'))
          .then(response => {
            console.log(response.json());
          })*/
          bus.$on('updateParam', this.update);
      },
      methods: {
        loadFile: function() {
          let available = {
            "SEIR agents":null,
            "Ebola Compartmental":setupEBFit,
            "Vectorborne": setupVectorborne
          }
          let loaded = available[this.modelFile];
          if(loaded !== null && typeof loaded !== 'undefined'){
            this.experiment = loaded.experiment;
            this.environment = loaded.environment;
            this.components = loaded.components;
            this.evolution = loaded.evolution || {};
            this.pathogen = loaded.pathogen || {};
            this.agents = loaded.agents || {};
            this.patches = loaded.patches || [];
            this.report = loaded.report;

            this.$forceUpdate();
          }
        },
        compile: function() {
          this.$forceUpdate();
          cfg = {};
          cfg.entities = {};
          cfg.experiment = this.experiment;
          cfg.environment = this.environment;
          cfg.evolution = this.evolution;
          cfg.entities.pathogen = this.pathogen;
          cfg.agents = this.agents;
          cfg.patches = this.patches;
          cfg.report = this.report;
          cfg.components = this.components;
          //cfg = JSON.parse(JSON.stringify(cfg));
        },
        update(level, group, name, param, index){
          if(level === 'agents'){
            this[level][group].params[name] = param;
          } else {
            this.experiment.params[index] = param;
          }

        },
        launch: function() {
          this.compile();
          exp = new QEpiKit.Evolutionary(environment, cfg);
          exp.start(cfg.experiment.iterations, cfg.environment.step, cfg.environment.until);
          this.improvement = exp.improvement;
          this.log = exp.experimentLog;
        },
        launchWorker: function() {
          if (typeof Worker !== 'undefined') {
            let maxWorkers = navigator.hardwareConcurrency / 2;
            let scores = [];
            for (var i = 0; i < maxWorkers; i++) {
              let worker = new Worker('vue-worker.js');
              this.compile();
              cfg.experiment.seed += 1;
              worker.postMessage([cfg]);
              worker.onmessage = (event) => {
                this.log = this.log.concat(event.data[1]);
                scores.push(event.data[0]);
                if(scores.length === maxWorkers){
                  this.improvement = jStat.mean(scores);
                }
              }
            }
          }
        },
        visualize: function() {
          //live update
          this.compile();
          if (cfg.environment.type === 'continuous') {
            let bounds = cfg.environment.boundaries;
            camera.position.z = Math.max(bounds[0], bounds[1]) * 0.5;
            camera.position.x = bounds[0] * 0.5;
            camera.position.y = bounds[1] * 0.5;
            camera.rotation.x = 8 * Math.PI / 180;
            document.querySelector('#display').innerHTML = '';
            document.querySelector('#display').appendChild(renderer.domElement);
            renderer.setSize(1280, 640);
            renderer.setClearColor(0xffffff, 0);
            scene = new THREE.Scene();
          }
          exp = new QEpiKit.Experiment(environment, cfg);
          exp.parseCFG(cfg);
          exp.environment.init();
          globalAssignment();
          render();
        }
      }
    });

    function freqs() {
      let freqs = {};
      environment.agents.forEach((d) => {
        exp.setup.report.freqs.forEach((f) => {
          if (!isNaN(d[f]) && typeof d[f] != 'undefined') {
            freqs[f] = freqs[f] == undefined ? d[f] : d[f] + freqs[f];
          }
        })
      })
      return freqs;
    }

    function compartments() {
      let model = {};
      environment.agents.forEach((d) => {
        exp.setup.report.compartments.forEach((cm) => {
          model[cm] = model[cm] == undefined ? d.populations[cm] * 4503000 : d.populations[cm] + model[cm];
        });
      });
      return model;
    }

    function format(history, freq, time) {
      let i = 0;
      for (let f in freq) {
        if (!(f in history)) {
          let color = '#' + Math.floor(Math.random() * 16e6).toString(16);
          switch (f) {
            case 'succeptible':
              color = '#00ff00';
              break;
            case 'infectious':
              color = '#ff0000';
              break;
            case 'immune':
              color = '#4455ff';
              break;
            case 'exposed':
              color = '#ff00ff';
              break;
            default:
              break;
          }
          history[f] = {
            x: [],
            y: [],
            name: f,
            mode: 'lines',
            type: 'scatter',
            line: {
              color: color
            }
          };
        }
        history[f].y.push(freq[f])
        history[f].x.push(time);
      }
      return Object.values(history);
    }



    let plotset = {};

    function render() {
      //cfg = Vue.util.extend({}, cfg);
      if (environment.time <= cfg.environment.until) {
        //debugger;
        requestAnimationFrame(render);
        environment.update(cfg.environment.step);
        environment.time += cfg.environment.step;
        if (cfg.environment.type === 'continuous') {
          continuousRender();
        } else if (cfg.environment.type === 'compartmental') {
          if (environment.time % 10 === 0) {
            compartmentalRender();
          }
        }
      } else {
        if (cfg.environment.type === 'continuous') {
          continuousRender();
        } else if (cfg.environment.type === 'compartmental') {
          compartmentalRender();
        }
        plotset = {};
        console.log('done', environment);
        let rep = exp.report(0, cfg);
        app._data.log = [rep];
      }
    }

    function continuousRender() {
      if (environment.time.toFixed(3) % 0.05 === 0) {
        let freq = freqs();
        let plottable = format(plotset, freq, environment.time);
        Plotly.newPlot('timeplot', plottable);
      }
      renderer.render(scene, camera);
    }

    function compartmentalRender() {
      for (let c in environment.agents[0].compartments) {
        let freq = compartments();
        let plottable = format(plotset, freq, environment.time);
        Plotly.newPlot('timeplot', plottable);
      }

    }
  </script>
  <script src="./ebola-fit.js"></script>;
  <script src="./vectorborne.js"></script>;
</body>
